[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
