[user]
        name = Cesar Figueroa
        email = cesar.figueroa@me.com
[color]
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
	pager = less
[alias]
        a = add
        ap = add --patch
        au = add --update
        amend = commit --amend -C HEAD
        assume = update-index --assume-unchanged
        no-assume = update-index --no-assume-unchanged
        b = branch
        c = clone
        cl = clone --depth=1
        cm = commit -m
        co = checkout
        cp = cherry-pick
        d = diff
        ds = diff --staged
        dsw = diff --staged --color-words
        dt = diff-tree -r --name-only --no-commit-id
        dw = diff --color-words
        g = grep --ignore-case
        h = help
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit
        ll = ! git l master..
        p = push
        pb = ! git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
        pl = pull --ff-only
        ra = rebase --abort
        rc = rebase --continue
        rl = reflog
        s = status --untracked-files
        u = reset HEAD
        wd = diff --word-diff
        ws = diff --check
[credential]
	helper = osxkeychain
[help]
	autocorrect = 0
[push]
	default = simple
