[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/commentary"]
	path = home/.vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/slim"]
	path = home/.vim/bundle/slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
