[user]
        name = Cesar Figueroa
        email = cesar.figueroa@me.com
[color]
        ui = true
[core]
        excludesfile = /Users/Cesar/.gitignore
        editor = vim
[alias]
        a = add
        aa = add -u
        amend = commit --amend
        assume = update-index --assume-unchanged
        noassume = update-index --no-assume-unchanged
        b = branch
        c = clone
        cl = clone --depth=1
        cm = commit -m
        co = checkout
        cp = cherry-pick
        d = diff
        ds = diff --staged
        h = help
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit
        p = push
        pom = push origin master
        r = reflog
        ra = remote add
        s = status -uno
        u = reset HEAD
        undo = reset --soft HEAD^
        ws = diff --check
[credential]
	helper = osxkeychain
[help]
	autocorrect = 1
